body {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  background: #eee;
}

h6 {
  font-size: 1.1rem;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

button i {
  margin-right: 10px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  border-bottom: 2px solid rgba(0, 0, 0, .9);
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}

.livestream-subtitle {
  font-size: 10px;
  line-height: 18px;
}

@media screen and (min-width: 320px) {
  .livestream-subtitle  {
    font-size: calc(10px + 12 * ((100vw - 320px) / 960));
    line-height: calc(18px + 12 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .livestream-subtitle {
    font-size: 22px;
    line-height: 30px;
  }
}

.header .nav-pills .nav-link {
  font-weight: bold;
}

.header .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #e71d36;
  font-weight: bold;
  color: #fff !important;
}

.header .nav-pills .nav-link a.text-dark:focus {
  color: #ffffff!important;
}

.container {
  border-radius: calc(.25rem - 1px);
  padding: 20px 0;
  height: 100%;
}

.livestream-container {
  position: relative;
  margin:0 auto;
  padding-top: 56.25%;
  background: url("/images/tv_static.gif");
}

.livestream-subtitle {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 80%;
  text-align: left;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  color: #fff;
}

.livestream-text:empty {
    padding: 0;
}

.livestream-text {
  background: rgba(0,0,0,0.7);
  padding: 2px 6px;
}

.card {
  background: transparent;
  border: none;
}

.card-header {
  background-color: transparent;
  border-bottom: none;
}

.card-body {
  padding: 1rem;
}

.info {
  color: #343a40;
  padding: 24px 20px;
  background: #ffffffb0;
  min-height: 41px;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.info .bg-primary {
  background-color: rgba(246, 246, 246, 0.8) !important;
}

.api {
  background: #0000000a;
  padding: 4px 20px;
  border-radius: 2px;
  width: 90px;
  float: left;
  text-align: center;
  margin: -2px 20px 0 0px;
  border: 1px solid #00000014;
}

.card-body {
  background-color: transparent;
  padding-bottom: 10px;
}

.timeline:before {
  background-color: #ffffff;
}

.timeline .timeline-item .timeline-panel {
  border: none;
}

.timeline-horizontal .timeline-item .timeline-panel:before {
  border-top: 16px solid #ffffff !important;
  border-bottom: 0 solid #ffffff !important;
}

.timeline .timeline-item .timeline-panel:before {
  border-left: 16px solid #ffffff;
  border-right: 0 solid #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.51);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}